.no-margin{
    margin: 0 !important;
}

.no-padding{
    padding: 0 !important;
}

.no-border{
    border: 0 !important;
}

.vertical-center {
    align-items: center;
    display: flex;
    min-height: 80vh;
}

@media (min-width: 768px){
    .vertical-center{
        min-height: 100vh;
    } 
}

@media (min-width: 768px){
    .vertical-center-logo{
        height:10em; 
        align-items:center; 
        display:flex;
    }
}
    

.vertical-center-bar {
    align-items: center;
    display: flex;
    min-height: 55vh;
}

@media (min-width: 768px){
    .vertical-center-bar{
        min-height: 75vh;
    } 
} 

.main-content{
    background-position: 0 0;
    background-size: 100% 100%;
    background-image: url('../img/index_background.jpg');
}

.navbar-toggle i.clean{
    background-color: transparent !important;
    color: #4D5258 !important;
}

.language-select{
    width: 164px;
    padding: 2px 5px;
    color: #888;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    margin: 2px 0 2px 2px;
}

#btnDisconnect,#btnDisconnectMobile{
    cursor: pointer;
}

.annonce{
    border: 2px solid gainsboro;
    min-height: 150px;
    border-radius: 4px;
}